<div class="page-width">
<div class="card-container card-products">
    <div class="card-header pt-56">
        {%if block.settings.heading != blank %}
            <h2> {{ block.settings.heading }} </h2>
        {% endif %}
         {% if block.settings.description != blank %}
            {{ block.settings.description }}
        {% endif %}
        {%if block.settings.btn != blank %}
                <a class="lp-all" href="{{ block.settings.btn-link }}"> {{ block.settings.btn }} </a>
        {% endif %}
    </div>

    <div class="lp-products-wrap">
        <div class="lp-products">
        {% assign lp-product = collections[block.settings.ramadan-coll] %}
            {% for product in lp-product.products %}

                <div class="lp-product-item">
                    <a href="{{ product.url }}" class="lp-product-link">
                        <div class="lp-product-image">
                        <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
                        </div>
                        <div class="lp-product-content">
                            <h3>{{ product.title }}</h3>
                            <span class="price">
                                {%- if product.price_varies -%}
                                    {{ product.price_min | money_without_trailing_zeros }}
                                {%- else -%}
                                    {{ product.price | money_without_trailing_zeros }}
                                {%- endif -%}
                            </span>
                        </div>
                    </a>
                </div>
            {% endfor %}

            
        </div>
        <ul class="lp-products-arrow">
                <li class="prev">
                    <svg class="pdp__media__master__slider__arrow-icon" xmlns="http://www.w3.org/2000/svg" width="12.771" height="24.129" viewBox="0 0 12.771 24.129">
                        <path fill="none" stroke="#000" d="M-11902.357-18787.281l11.711 11.719-11.711 11.7" transform="translate(-11889.939 -18763.506) rotate(180)"></path>
                    </svg>
                </li>
                <li class="next">
                    <svg class="pdp__media__master__slider__arrow-icon" xmlns="http://www.w3.org/2000/svg" width="12.771" height="24.129" viewBox="0 0 12.771 24.129">
                        <path fill="none" stroke="#000" d="M-11902.357-18787.281l11.711 11.719-11.711 11.7" transform="translate(11902.711 18787.635)"></path>
                    </svg>
                </li>
            </ul>
    </div>
</div>
</div>

