<style type="text/css">
  .modal-gwp-added {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.7);
      z-index: 9999;
  }
  
  .gwp-modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 25px;
      border: 1px solid #888;
      width: 450px;
      position: absolute;
      left: calc(50% - 225px);
      font-size: 16px;
      top: calc(40% - 75px);
  }
     
  span.loading-dotts > img {
      width: 35px;
      display: block;
      position: relative;
      top: 6px;
      margin: 0 auto;
  }
  
  .promo-title {
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      text-decoration: underline;
      cursor: pointer;
        margin-bottom: 15px;
  }
  
  .promo-body .form-group.form_inline {
        display: flex;
  }
  
  .promo-body .form-group.form_inline .btn-ctm {
      min-width: auto;
      border: 1px solid #000000;
      cursor: pointer;
	  border-left: none;
      width: 81px;
	  padding: 14px 20px;
  }
  .promo-body .form-group.form_inline .form_control {
      border-radius: 0px;
      padding: 0 8px;
      border: 1px solid #000000;
	  cursor: auto !important;
      outline: none;
      width: calc(100% - 80px);
  }
  .promo-body {
        display: none;
  }
  
  
  @media all and (max-width:1023px){
  	.promo-body .form-group.form_inline .btn-ctm {
        width: auto;
        padding: 12px 10px;
        font-size: 13px;
    }
  }
  
   @media all and (max-width:749px){
  	.promo-body .form-group.form_inline .btn-ctm {
          padding: 12px 20px;
      }
    }

  
  </style>
  
  {% assign found_title = false %}
  {% for item in cart.items %}
    {% if item.variant.id == 40574769889448 %}
      {% assign found_title = true %}
    {% endif %}
  {% endfor %}
  
  <script type="text/javascript">
  window.Currency = window.Currency || {};
  jQuery(document).on("click", ".updateqty", function (event) {
    var value = $(this).siblings('.cart-quantity').val();
    var itemIndex = $(this).attr('qty-index');
    _updateItemQuantity(itemIndex, value);
  });
  
  function _updateItemQuantity(itemIndex, value) {
    $.getJSON('/cart.js').then(function (cart) {
      $.ajax({
        type: 'POST',
        url: '/cart/change.js',
        data: {
          quantity: value,
          line: itemIndex
        },
        dataType: 'json',
        success: function success(item) {
          console.log(JSON.stringify(item));
          $('.mcart-count').html(item.item_count);
          var up_total_price = Currency.formatMoney(item.total_price);
          var item_price = Currency.formatMoney(item.items[itemIndex - 1].line_price);
          $('.cart_subtotal').html(up_total_price);
          $("[item-loop=item-" + itemIndex + "]").find('.cart-item-price p').html(item_price);
          $("[item-loop=item-" + itemIndex + "]").find('.price-cart-mob').html(item_price);
  
  
          if (item.total_price >= 75000) {                                 
            {% if found_title == false %}
            $('#mymodalgwp').removeClass('hide');
            $('#gwptext').html('Cart above 750AED - adding free gift');
  
            setTimeout(function() { 
                var uri = window.location.toString();
                 if (uri.indexOf("#") > 0) {
                    var clean_uri = uri.substring(0, uri.indexOf("#"));
                    window.history.replaceState({}, document.title, clean_uri);
                }  
                window.location.reload();
            }, 1500);
  
           {% endif %} 
  
          } 
  
          else {
  
          {% if found_title == true %} 
  
             var productId = 40574769889448;
             jQuery.post('/cart/update.js', 'updates['+productId+']=0'); 
  
             $('#mymodalgwp').removeClass('hide');
             $('#gwptext').html('Cart below 750AED - removing free gift');
  
             setTimeout(function() { 
                 var uri = window.location.toString();
                  if (uri.indexOf("#") > 0) {
                     var clean_uri = uri.substring(0, uri.indexOf("#"));
                     window.history.replaceState({}, document.title, clean_uri);
                 }  
                 window.location.reload();
             }, 1500);
  
  
         {% endif %} 
  
          }
  
  
        }
      });
    });
  }   
  </script>
  
  
  {% if cart.total_price > 75000 and found_title == false %} 
  <script type="text/javascript">  
    $( document ).ready(function() { 
  
      var productId = 40574769889448;
      jQuery.post('/cart/update.js', 'updates['+productId+']=1'); 
  
      $('#mymodalgwp').removeClass('hide');
      $('#gwptext').html('Your Complimentary gift was <u>added</u> to your cart');
      
      setTimeout(function() { 
          var uri = window.location.toString();
           if (uri.indexOf("#") > 0) {
              var clean_uri = uri.substring(0, uri.indexOf("#"));
              window.history.replaceState({}, document.title, clean_uri);
          }  
          window.location.reload();
      }, 2000);
  
    });
  </script> 
  
  {% elsif cart.total_price < 75000 and found_title == true %}
  <script type="text/javascript">  
    $( document ).ready(function() { 
  
      var productId = 40574769889448;
      jQuery.post('/cart/update.js', 'updates['+productId+']=0'); 
  
      $('#mymodalgwp').removeClass('hide');
      $('#gwptext').html('Your Complimentary gift was <u>removed</u> to your cart');
      
      setTimeout(function() { 
          var uri = window.location.toString();
           if (uri.indexOf("#") > 0) {
              var clean_uri = uri.substring(0, uri.indexOf("#"));
              window.history.replaceState({}, document.title, clean_uri);
          }  
          window.location.reload();
      }, 1500);
  
    });
  </script> 
  {% endif %}  
   
  
  
  <script type="text/javascript">
    function remove_item(id){
      document.getElementById('updates_' + id).value = 0;
      document.getElementById('cartform').submit();
    }
  </script>
  
  {% if cart.item_count > 0 %}
  <section id="cart-container" class="padding_lg">
    <h1 class="cart-title">Your Cart</h1>
    <form action="/cart" method="post" id="cartform">
      <div class="cart-body">
        <div class="cart-main-data">
          <div class="cart-titles">
            <div class="cart-item-t">PRODUCTS</div>
            <div class="cart-qty-t">QUANTITY</div>
            <div class="cart-total-t">PRICE</div>
          </div>
          {% for item in cart.items %}{% capture item_title %}{{ item.title | escape }}{% endcapture %}
          <div class="cart-items-loop" item-loop="item-{{ forloop.index }}">
            <div class="cart-item-img">
              <div>
                <a href="{{ item.product.url }}" title="{{ item_title }} — {{ item.product.description | strip_html | truncate: 50 | escape }}"> 
                   <img class="cart__image{% if item.image == null %} hide{% endif %}" src="{{ item | img_url: 'small' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
                   
                </a>
              </div>
              <div class="cart-title-dt">
                <p><a href="{{ item.product.url }}">{{ item.product.title }}</a></p>
                 {%- assign variant_options = 'template ' | split: ' ' -%}
                      {%- if item.product.has_only_default_variant != true -%}
                        {%- assign variant_options = item.options_with_values -%}
                      {%- endif -%}
                      {%- assign property_size = item.properties | size -%}
                      
                      {%- assign variant_options_hide = false -%}
                      {% if item.product.has_only_default_variant and property_size == 0 %}
                       {%- assign variant_options_hide = true -%}
                 {% elsif variant_options.size == 1 and variant_options[0].value == "Default title" %}
                       {%- assign variant_options_hide = true -%}
                      {% endif %}
                      
                      <ul class="item-variant-details{% if variant_options_hide and property_size == 0 %} hide{% endif %}" >
                        {%- for option in variant_options -%}
                          <li class="product-details__item--variant-option{% if item.product.has_only_default_variant %} hide{% endif %}" data-cart-item-option>{{ option.name }}: {{ option.value }}</li>
                        {%- endfor -%}
                </ul>
                <p class="cart__remove">
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove data-role="product-remove">Delete {% include 'delete' %}</a>
                </p>
              </div>
  
            </div>
            <div class="cart-item-qty">
              <div class="cart-title-mob"><p><a href="{{ item.product.url }}">{{ item.product.title }}</a></p></div>
              <div class="qty-selc">
  
                <div class="qty-slctor-arws"> 
                  <p class="qty-txt-mob">Qty</p>
  
                  {%- if item.line_price != 0 -%}
                  <a class="minusqty updateqty" data-loop="" qty-index="{{ forloop.index }}">{% include 'down-arrow' %}</a>               
                  <input name="updates[]" type="text" class="qtycart cart-quantity" id="updates_{{ item.cart_index }}" onfocus="this.select();" value="{{ item.quantity }}" size="2"/>
                  <a class="addqty updateqty" qty-index="{{ forloop.index }}">{% include 'upper-arrow' %}</a>
                  {%- elsif item.line_price == 0 -%}
                  <input name="updates[]" type="text" class="qtycart cart-quantity" id="updates_{{ item.cart_index }}" value="1" size="1"/>
                  {%- endif-%}
  
  
                </div>
                
                <div class="mobile-cart-compair">
                <p class="price-cart-mob">{{ item.line_price | money }}</p>
                {% if item.variant.compare_at_price %}
                    <p class="pdp__content__price__compare">{{ item.variant.compare_at_price | money }}</p>
                {% endif %}
                </div>
  
              </div>   
              <p class="cart__remove">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove data-role="product-remove">Delete {% include 'delete' %}</a>
              </p>
            </div>
            <div class="cart-item-price">
              <p>{{ item.line_price | money }}</p>
              {% if item.variant.compare_at_price %}
                    <p class="pdp__content__price__compare">{{ item.variant.compare_at_price | money }}</p>
                {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
  
        <div class="right-side-cart cart-main-prices">
  
          <div class="flex-bet shipping-free">
            <span class="cart-subtotal__title">SHIPPING </span>
            <span class="cart-subtotal__price">Free</span>
          </div>
          <div class="shipping-day">
            <p>Free Shipping within 2-3 days</p>
          </div>
          <div colspan="5" class="subtotal">
            <h4 class="flex-bet">
              <span class="cart-subtotal__title">Subtotal</span>
              <span class="cart-subtotal__title cart_subtotal">{{ cart.total_price | money }}</span>
            </h4>
          </div>
          <div class="vat-shiping">
            <p>(VAT included)</p>
          </div>
          <div id="cart-right">
            
            <div class="promo_code_wrap">
              <div class="promo-title"> Have a promocode?  </div>
                <div class="promo-body">
                  <form class="promo-form">
                    <div class="form-group form_inline">
                    	<input type="text" placeholder="Enter promo code"  class="form_control" id="promo_coupon">
                      <button type="submit" class="btn-ctm promo-submit" id="redemDevPromo"> APPLY  </button>
                    </div>
                  </form>
                </div>
              
            </div> 
            
            <input name="checkout" type="submit" class="button" id="checkout-button" value="PROCEED TO CHECKOUT">
            {% if additional_checkout_buttons %}
            <div class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
            {% endif %}
          </div>
  
  
        </div>
      </div>
      <div class="cart__footer">
        <div class="grid-wrapper">
  
          <div class="col-sp-sm col-sp-md">
            <label for="CartSpecialInstructions" class="cart-note__label small--text-center">Would you like a FREE gift box and gift message?</label>
  
            <!-- Yes and No content goes here-->
            <div class="login-wrap">
              <div class="radio-group">
                
                <input type="checkbox" id="{{ formId }}-mrs" class="giftyes" name="choice-radio" value="{{ cart.attributes["Yes"] }}"  />
                <label for="{{ formId }}-mrs">Yes</label>
              </div>
            </div>
            <!-- Gift message option code goes here-->
       <div class="gift_msg">
            <div class="login-wrap giftmessage ">
              <div class="radio-group">
                <input type="checkbox" id="{{ formId }}-ms" name="choice-giftmessage" value="{{ cart.attributes["No"] }}" checked="checked" />
                <label for="{{ formId }}-ms">I would like to provide a gift message.</label>
              </div>
  
              <textarea name="note" id="CartSpecialInstructions" placeholder="Please enter a message up to 250 characters (including spaces)*" class="cart-note__input" data-cart-notes>{{ cart.note }}</textarea>
              <span id="countcharacter"></span><br>
            </div>
  
            <span class="custom-cart-text">
            		{{ section.settings.giftmessage }}
            </span>
         </div>
          </div>
  
        </div>
      </div>
    </form>
  </section>
  {%else%}
  <section class="empty-section">
    <h1 class="cart-title">Your Cart</h1>
    <div class="page-container">
      <p>Your cart is empty!</p>
      <a href="{{shop.url}}" class="btn">CONTINUE SHOPPING</a>
    </div>
  </section>
  {%endif%}
  <style>
    .mb-search-logo-flex .mb-cart-flex{pointer-events: none;}
  </style>

{% schema %}
  {
    "name": "cart",
    "settings": [
	 {
        "type": "textarea",
        "id": "giftmessage",
        "label": "gift message"
      }
]
  }
{% endschema %}