<script type="text/javascript">
    function remove_item(id){
      document.getElementById('updates_' + id).value = 0;
      document.getElementById('cartform').submit();
    }
 </script>
 <section id="cart-container">
   <h1 class="cart-title">Your Cart</h1>
    <form action="/cart" method="post" id="cartform">
       <div class="cart-body">
          <div class="cart-main-data">
             <div class="cart-titles">
                <div class="cart-item-t">PRODUCTS</div>
                <div class="cart-qty-t">QUANTITY</div>
                <div class="cart-total-t">PRICE</div>
             </div>
             {% for item in cart.items %}{% capture item_title %}{{ item.title | escape }}{% endcapture %}
             <div class="cart-items-loop">
                <div class="cart-item-img">
                   <div><a href="{{ item.product.url }}" title="{{ item_title }} — {{ item.product.description | strip_html | truncate: 50 | escape }}"> {{ item.product.images.first | product_img_url: 'small' | img_tag: item_title }}</a></div>
                  <div class="cart-title-dt"><p><a href="{{ item.product.url }}">{{ item.product.title }}</a></p></div>
                </div>
                <div class="cart-item-qty">
                  <div class="cart-title-mob"><p><a href="{{ item.product.url }}">{{ item.product.title }}</a></p></div>
                  <div class="qty-selc">
                   
                   <div class="qty-slctor-arws"> 
                     <p class="qty-txt-mob">Qty</p>
                       <a class="minusqty"><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMy4yNDUgNGwtMTEuMjQ1IDE0LjM3NC0xMS4yMTktMTQuMzc0LS43ODEuNjE5IDEyIDE1LjM4MSAxMi0xNS4zOTEtLjc1NS0uNjA5eiIvPjwvc3ZnPg=="></a>
                       <input name="updates[]" type="text" class="qtycart cart-quantity" id="updates_{{ item.cart_index }}" onfocus="this.select();" value="{{ item.quantity }}" size="2"/>
                       <a class="addqty"><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMy4yNDUgMjBsLTExLjI0NS0xNC4zNzQtMTEuMjE5IDE0LjM3NC0uNzgxLS42MTkgMTItMTUuMzgxIDEyIDE1LjM5MS0uNzU1LjYwOXoiLz48L3N2Zz4="></a>
                   </div>
                   <p class="price-cart-mob">{{ item.line_price | money }}</p>
                  </div>	
                    
                </div>
                <div class="cart-item-price">
                   <p>{{ item.line_price | money }}</p>
                </div>
             </div>
             {% endfor %}
          </div>
          <div class="cart-main-prices">
             <div colspan="5" class="subtotal">
                <h4>Subtotal:   {{ cart.total_price | money }}</h4>
             </div>
             <div id="cart-right">
                <input name="checkout" type="submit" class="button" id="checkout-button" value="PROCEED TO CHECKOUT">
                {% if additional_checkout_buttons %}
                <div class="additional-checkout-buttons">
                   {{ content_for_additional_checkout_buttons }}
                </div>
                {% endif %}
             </div>
          </div>
       </div>
    </form>
 </section>