{% if settings.is_privatesale == false %}

<style>
 h1.banner-title{
  line-height:{{section.settings.letter_spacing}}px !important;
  color:{{section.settings.color_heading}} !important;
  font-size:{{section.settings.banner_font_size}}px !important; 
} 
  .banner-content .banner-desc {color:{{section.settings.color_content}} !important }
</style>
<section class="banner-wrap">

  <div class="Home_slideshow">

    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'image' %}
    <div class="inner_slide">
      <div class="banner-img-wrap">
        <div class="banner-image">
          <picture  class="banner-image__picture">
            <source srcset="{{ block.settings.imgepic | img_url:'master' }}" media="(min-width: 750px)"/>
            <source srcset="{{ block.settings.imgepic_mbl | img_url:'300x', scale: 2}}" media="(max-width: 749px)"/>
            <img src="{{ block.settings.imgepic | img_url:'master' }}"/>
          </picture>
        </div>
        <div class="banner-content-wrap">
          
          <div class="banner-content">
            {% if block.settings.heading != blank %}
            <h1 class="banner-title">{{ block.settings.heading }}</h1>
            {% endif %}
            {% if block.settings.text != blank %}
            <div class="banner-desc">{{ block.settings.text }}</div>
            {% endif %}
            {% if block.settings.btn_lable != blank %}
            <div class="banner-cta">
              <a class="btn-ctm" href="{{ block.settings.btn_link }}">{{ block.settings.btn_lable }}</a>
            </div>
            
          </div>
          
        </div>
        {% endif %}
      </div>
    </div>


    {% when 'video' %}
    <div class="inner_slide iner-two">
      <div class="video-container vides-padding">
        <video class="responsive-iframe" width="100%" controls="true">
          <source src="{{ block.settings.video }}" type="video/mp4">
        </video>
        <div class="inner_img video-containerss">
          <picture>
            <source data-srcset="{{ block.settings.poster_img | img_url:'master'}}" media="(min-width: 750px)"
              srcset="{{ block.settings.poster_img | img_url:'master'}}" />
            <source data-srcset="{{ block.settings.poster_img_mob | img_url:'original'}}" media="(max-width: 749px)"
              srcset="{{ block.settings.poster_img_mob | img_url:'original'}}" />
            <img class="lazy" {% comment %} src="{{ block.settings.poster_img | img_url:'master'}}" {% endcomment %}
              data-src="{{ block.settings.poster_img | img_url:'master'}}" />
          </picture>

          {% comment %} <img class="custom-video-src" data-src="{{ block.settings.video}}"
            src="{{ block.settings.poster_img | img_url: " original" }}"> {% endcomment %}
          <button class="videoPoster show">Play video</button>
        </div>
      </div>
    </div>
    {% endcase %}
    {% endfor %}
  </div>

</section>
{% endif %}

{% schema %}
{
"name": "Home banner with overlay",
"settings":[
      
       {
        "type":"range",
        "id":"letter_spacing",
        "label":"Line spacing",
        "default":55,
        "unit": "px",
        "min":1,
        "max":60,
        "step":1
      },
      {
        "type":"range",
        "id":"banner_font_size",
        "label":"Banner Font Size",
        "default":40,
        "unit": "px",
        "min":1,
        "max":100,
        "step":1
      },
      {
        "type": "color",
        "id": "color_heading",
        "label": "Banner font color",
        "default": "#ffffff"
      },
{
        "type": "color",
        "id": "color_content",
        "label": "Banner content color",
        "default": "#ffffff"
      }
    ],
"blocks": [
{
"type": "image",
"name": "image",
"settings": [
{
"type":"image_picker",
"id":"imgepic",
"label":"image"
},
{
"type":"image_picker",
"id":"imgepic_mbl",
"label":"Mobile image"
},
{
"type":"text",
"id":"heading",
"label":"heading"
},
{
"type":"textarea",
"id":"text",
"label":"Content"
},
{
"type":"text",
"id":"btn_lable",
"label":"button label"
},
{
"type":"url",
"id":"btn_link",
"label":"button Link"
}

]
},
{
"type": "video",
"name": "video",
"settings": [
{
"type":"image_picker",
"id":"poster_img",
"label":"Poster Image"
},
{
"type":"image_picker",
"id":"poster_img_mob",
"label":"Poster Image mob"
},
{
"type":"text",
"id":"video",
"label":"Video URL"
}

]
}


],
"presets": [
{
"name": "Home banner with overlay",
"category": "image"
}
]
}
{% endschema %}