


<div class="store_wrap">
  <div class="page_container">
    <div class="page_header">
      <h1>STORE LOCATOR</h1>
    </div>
    <div class="store_grid">
      <div class="store-sidebar">
      <!-- Create a div to hold the filter check boxes. --> 
            <div id="legend"><h3>Filter by: </h3></div>

<div class="store-list">
          <ul class="store-list-wrap"><li class="store-list-item" id="1">
              <div class="store-img">
                <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/Mask_Group_18_1024x1024.png?v=4665665964620266712/" alt="store-img">
              </div>
              <div class="store-desc">
                <div class="store-desc-left">
                  <div class="store-name">
                     Molton Brown, Dubai, Mall of the Emirates
                  </div>
                  <div class="store-address">
                    <address>
                      Mall of the Emirates, First Floor,
                      Dubai
                    </address>
                  </div>
                  <div class="store-info">
                    <ul>
                      <li class="mobile-no">
                        <a tel:+971="" 4="" 295="" 7851="">+971 4 295 7851 </a>
                      </li>
                      <li class="working-hrs">
                          10am to 12am
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="store-desc-right">
                  <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/arrow_right_1024x1024.png?v=7698891520488224652" alt="arrow-icon" style="width:auto;">
                </div>
                
              </div>
            </li>,<li class="store-list-item" id="2">
              <div class="store-img">
                <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/harvey-nichols-logo-100x100_1024x1024.jpeg?v=3490281424470945856/" alt="store-img">
              </div>
              <div class="store-desc">
                <div class="store-desc-left">
                  <div class="store-name">
                     Harvey Nichols, Dubai, Mall of the Emirates
                  </div>
                  <div class="store-address">
                    <address>
                      Mall of the Emirates, Ground Floor, Main Entrance,
                      Dubai
                    </address>
                  </div>
                  <div class="store-info">
                    <ul>
                      <li class="mobile-no">
                        <a tel:+971="" 4="" 409="" 8888="">+971 4 409 8888 </a>
                      </li>
                      <li class="working-hrs">
                          10am to 12am
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="store-desc-right">
                  <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/arrow_right_1024x1024.png?v=7698891520488224652" alt="arrow-icon" style="width:auto;">
                </div>
                
              </div>
            </li>,<li class="store-list-item" id="3">
              <div class="store-img">
                <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/bloom-brand-100x100_1024x1024.gif?v=3786810654310568398/" alt="store-img">
              </div>
              <div class="store-desc">
                <div class="store-desc-left">
                  <div class="store-name">
                     Bloomingdale’s, Dubai, The Dubai Mall
                  </div>
                  <div class="store-address">
                    <address>
                      The Dubai Mall, Second Floor, P2 Dubai,
                      Dubai
                    </address>
                  </div>
                  <div class="store-info">
                    <ul>
                      <li class="mobile-no">
                        <a tel:+971="" 4="" 350="" 5333="">+971 4 350 5333 </a>
                      </li>
                      <li class="working-hrs">
                          10am to 11pm
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="store-desc-right">
                  <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/arrow_right_1024x1024.png?v=7698891520488224652" alt="arrow-icon" style="width:auto;">
                </div>
                
              </div>
            </li>,<li class="store-list-item" id="4">
              <div class="store-img">
                <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/Mask_Group_18_1024x1024.png?v=4665665964620266712/" alt="store-img">
              </div>
              <div class="store-desc">
                <div class="store-desc-left">
                  <div class="store-name">
                     Molton Brown, Dubai, The Dubai Mall
                  </div>
                  <div class="store-address">
                    <address>
                      The Dubai Mall, First Floor, Main Entrance,
                      Dubai
                    </address>
                  </div>
                  <div class="store-info">
                    <ul>
                      <li class="mobile-no">
                        <a tel:+971="" 4="" 339="" 8317="">+971 4 339 8317 </a>
                      </li>
                      <li class="working-hrs">
                          10am to 12am
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="store-desc-right">
                  <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/arrow_right_1024x1024.png?v=7698891520488224652" alt="arrow-icon" style="width:auto;">
                </div>
                
              </div>
            </li>,<li class="store-list-item" id="5">
              <div class="store-img">
                <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/galeries-lafayette-loc-icn1_1024x1024.jpg?v=2497237605750201096/" alt="store-img">
              </div>
              <div class="store-desc">
                <div class="store-desc-left">
                  <div class="store-name">
                     Galeries Lafayette, Dubai, The Dubai Mall
                  </div>
                  <div class="store-address">
                    <address>
                      The Dubai Mall, Level 2, Galeries Lafayette,
                      Dubai
                    </address>
                  </div>
                  <div class="store-info">
                    <ul>
                      <li class="mobile-no">
                        <a tel:+971="" 4="" 339="" 9933="">+971 4 339 9933 </a>
                      </li>
                      <li class="working-hrs">
                          10am to 10pm
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="store-desc-right">
                  <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/arrow_right_1024x1024.png?v=7698891520488224652" alt="arrow-icon" style="width:auto;">
                </div>
                
              </div>
            </li>,<li class="store-list-item" id="6">
              <div class="store-img">
                <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/Mask_Group_18_1024x1024.png?v=4665665964620266712/" alt="store-img">
              </div>
              <div class="store-desc">
                <div class="store-desc-left">
                  <div class="store-name">
                     Molton Brown, Dubai, Mirdif City Centre
                  </div>
                  <div class="store-address">
                    <address>
                      City Centre Mrdif, Level 1, South Entrance,
                      Dubai
                    </address>
                  </div>
                  <div class="store-info">
                    <ul>
                      <li class="mobile-no">
                        <a tel:+971="" 4="" 288="" 3461="">+971 4 288 3461 </a>
                      </li>
                      <li class="working-hrs">
                          10am to 10pm
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="store-desc-right">
                  <img src="//cdn.shopify.com/s/files/1/0580/2413/2776/t/15/assets/arrow_right_1024x1024.png?v=7698891520488224652" alt="arrow-icon" style="width:auto;">
                </div>
                
              </div>
            </li></ul>
        </div>          

      </div>
      <div class="store-content"> 

          <div id="map_canvas"></div>

      </div>
    </div>
  </div>
</div>

  
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcW0BmF4mgxzkhTFpyzd6XFC9jI0YAHbQ&sensor=false">
</script>

<script type="text/javascript">
  var map; // Create a global variable for the map. 
  var markers = [];  // Create a global variable for the markers.
  
  // Load the map on the page, center and set zoom level. 
  function initialize() {
    map = new google.maps.Map(document.getElementById('map_canvas'), {
      zoom: 11,
      center: new google.maps.LatLng(25.152988,55.311686),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
    });



// Add the markers from the marker array.    
    function addMarker(feature) {
      var marker = new google.maps.Marker({
        position: feature.position,
        icon: features[i].icon,
        title: features[i].name,
        map: map
      });
      markers.push({
        marker: marker,
        type: feature.type
      });
        google.maps.event.addListener(marker, 'click', function(){
      if (typeof infowindow != 'undefined') infowindow.close();
      infowindow = new google.maps.InfoWindow({
        content: feature.name
      });
      infowindow.open(map, marker);
    });
 // This section will close any open info windows when you click anywhere on the map. 
      google.maps.event.addListener(map, 'click', function(){
    infowindow.close();
  });
    }

// Create a "set" of filter types.    
  
    var icons = {
      dist: {
        name: 'dist'
      },
      store: {
        name: 'store'
      }
    };
    
// Marker array
    var features = [
      {
        name: 'Harvey Nichols, Dubai, Mall of the Emirates',
        position: new google.maps.LatLng(25.1182205,55.1991809),
        type: 'branch',
        icon: '{{"mb-dist-pin.png" | asset_img_url: "original"}}'
      }, 

      {
        name: 'Molton Brown, Dubai, Mall of the Emirates',
       position: new google.maps.LatLng(25.1192547,55.1996966),
        type: 'store',
        icon: '{{"mb-stores-pin.png" | asset_img_url: "original"}}'
        },



      {
        name: 'Bloomingdales, Dubai, The Dubai Mall',
        position: new google.maps.LatLng(25.1984786,55.2763745),
        type: 'branch',
        icon: '{{"mb-dist-pin.png" | asset_img_url: "original"}}'
      },

        {
            name: 'Molton Brown, Dubai, The Dubai Mall',
          position: new google.maps.LatLng(25.1981198,55.2795764),  
           type: 'store',
           icon: '{{"mb-stores-pin.png" | asset_img_url: "original"}}'
        },



      {
        name: 'Galeries Lafayette, Dubai, The Dubai Mall',
        position: new google.maps.LatLng(25.1977891,55.2788712),
        type: 'branch',
        icon: '{{"mb-dist-pin.png" | asset_img_url: "original"}}'
      },


        {
            name: 'Molton Brown, Dubai, Mirdif City Centre',
           position: new google.maps.LatLng(25.2160919,55.4077522),
           type: 'store',
           icon: '{{"mb-stores-pin.png" | asset_img_url: "original"}}'
        }


    ];

// Itterate through through the markers and add them to the map.
    for (var i = 0, feature; feature = features[i]; i++) {
      addMarker(feature);
    }

// This section creates the filter box. 
    var legend = document.getElementById('legend');
    var i=0;
    for (var key in icons) {
      var type = icons[key];
      var name = type.name;
      var icon = type.icon;
      var div = document.createElement('div');
      div.innerHTML = '<input checked="checked" type="checkbox" onchange="toggleType(this, event, \'' + features[i].type + '\')">' + '&nbsp' + name;
      legend.appendChild(div);
      i++;
    }
  
  }

// Filter markers. 
  function toggleType(elm, event, type) {
    var on = elm.checked ;
    for(var i=0; i<markers.length; i++) {
      if (markers[i].type == type) {
        markers[i].marker.setMap( on ? map : null);
      }
    }
  } 
  
// Load and initialize the page. 
  google.maps.event.addDomListener(window, 'load', initialize);

</script>