<!-- Tool bar -->
<section class="mb-top-tool-bar">
<div class="mb-tool-bar-flex">
  {% if section.settings.announcement-bar != blank %}
  <div class="tb-left">
    <p><a href="{{ section.settings.announcement-link }}">{{ section.settings.announcement-bar }}</a></p>
  </div>
  {% endif %}
  <div class="tb-right">
    {% assign  topcolumn = section.settings.link_list_id %}
    <ul>
      {% for link in linklists[topcolumn].links %}
      <li class="tb-find-store"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %} 

      
      
      <li class="change-count">
          <a href="{{section.settings.change_cou_url | default: "https://molton-brown-uae.myshopify.com/pages/store-locator" }}">{{section.settings.change_country | default: "Find Store" }}</a>
        </li>

        <li class="language">
          <a href="javascript:void(0);">Language</a>
          <div class="uae-select">
            <ul class="custom-selection" id="selection-uae">
              <span class="ly-custom-1000"></span>
            </ul>
          </div>
        </li>

        <li class="find-store">
          <a href="javascript:void(0);">{{section.settings.find_text | default: "Change Country"}}</a>
          <div class="uae-select">
            <ul class="custom-selection" id="selection-store">
              <li>
                <a href="{{section.settings.uae_text_url | default: "https://molton-brown-uae.myshopify.com/" }}" target="_blank">{% if section.settings.uae_img != empty %}<img src="{{section.settings.uae_img | img_url: "21x21"}}" alt="icon" style="width:auto;">{%endif%} {{section.settings.uae_text | default: "UAE"}} </a>
              </li>
              <li>
                <a href="{{section.settings.ksa_text_url | default: "https://molton-brown-ksa.myshopify.com/"}}" target="_blank">{% if section.settings.ksa_img != empty %}<img src="{{section.settings.ksa_img | img_url: "21x21"}}" alt="icon" style="width:auto;">{%endif%} {{section.settings.ksa_text | default: "KSA"}} </a>
              </li>
            </ul>
          </div>
        </li>
      

    </ul>
  </div>
</div>
</section>
