<secion id="mb-mob-nav-cont">
  <ul class="mb-mb-nav-ul pad0">

    <li class="mobile-nav__item border-bottom menu-mob-ttl">
      <div class="mob-search">

       <form class="mob-search search desk_search" action="{{ routes.search_url }}">
              <div class="input-rounded search">
                  <input type="text" class="search-form__input dsk_search-input"
                      placeholder="{{section.settings.placeholder}}"
                      name="q"
                      value="{{ search.terms | escape }}" autocomplete="off">
                  <input type="hidden" name="type" value="product" />
                  <input type="hidden" name="options[unavailable_products]" value="hide" />
                  <input type="hidden" name="options[prefix]" value="last" />    
                  {% comment %}<input type="submit" class="search_button" value="Search">{% endcomment %}
              </div>

              <button type="submit" class="search-form__connected-submit" aria-label="Submit" data-search-page-predictive-search-submit>
              <img src="{{ 'mb-icon-search.svg' | asset_url }}" />
            </button>

               <div class="search_result_container mob"></div>
          </form>

      </div>
    </li>

    <!--mobile langify -->
    <li class="no-child-one mobile-nav__item border-bottom li-lvlone bold-mb">
      <a class="mobile-nav__link mobile-nav__link--active 
        {% if request.locale.iso_code == 'ar' %} lang-is-ar{% else %} lang-is-en{% endif %}">
        <span class="ly-custom-0 mob-langify" ></span>
      </a>
    </li>
    
    <li class="1 has-child-one mobile-nav__item border-bottom li-lvlone bold-mb">
      <div class="dropdown_custom_item custom-nav-country uae-field">
        <span class="mobile-nav__label "><a href="javascript:void(0);">{{section.settings.change_country_text | default: "Change Country"}} -</a></span>
        <a href="{{section.settings.uae_text_url | default: "https://molton-brown-uae.myshopify.com/" }}" target="_blank">{% if section.settings.uae_img != empty %}<img src="{{section.settings.uae_img | img_url: "21x21"}}" alt="icon" style="width:auto;">{%endif%} {{section.settings.uae_text | default: "UAE"}} </a>
      </div> 
      <div class="togglenewmob lvlonemob togglenewmob-wrap">
        <div class="mobile-nav__icon lvlonemob-chiv ">
          <span><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00IC43NTVsMTQuMzc0IDExLjI0NS0xNC4zNzQgMTEuMjE5LjYxOS43ODEgMTUuMzgxLTEyLTE1LjM5MS0xMi0uNjA5Ljc1NXoiLz48L3N2Zz4="></span>
        </div>
      </div>
      <ul class="innercontent pad0 mobile-nav__dropdown   " data-parent="bath-and-body-4" data-level="2">
        <li class="child2_without_btn mobile-nav__item li-lvltwo">
          <span class="mobile-nav__label lable_without_btn kas-fild"><a href="{{section.settings.ksa_text_url | default: "https://molton-brown-ksa.myshopify.com/"}}" target="_blank" second-lvl-sub="yes">{% if section.settings.ksa_img != empty %}<img src="{{section.settings.ksa_img | img_url: "21x21"}}" alt="icon" style="width:auto;">{%endif%} {{section.settings.ksa_text | default: "KSA"}} </a></span>
        </li>
      </ul>
    </li>
    



    
    <!--mobile langify -->

    {%- for link in linklists.main-menu.links -%}
    {%- assign outerLoopIndex = forloop.index -%}
    {% if link.links != blank %}
    {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
    <li class="1 has-child-one mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %} li-lvlone {% for childlink in link.links %}{% if childlink.current %}has-2ndd{% endif %}{% endfor %}{% for childlink in link.links %}{% for grandchildlink in childlink.links %} {% if grandchildlink.current %} has-thirdd {% endif %} {% endfor %}{% endfor %}">
      <div class="dropdown_custom_item">
        <span class="mobile-nav__label {% for childlink in link.links %}{% if childlink.current %}bold{% endif %}{% endfor %}{% for childlink in link.links %}{% for grandchildlink in childlink.links %}{% if grandchildlink.current %} bold{% endif %}{% endfor %}{% endfor %}"><a href="{{ link.url }}" {% if link.current %} nav-lvl-a="ok" aria-current="page"{% endif %}>{{ link.title | escape }}</a></span>
      </div> 
        <div class="togglenewmob lvlonemob togglenewmob-wrap">
            <div class="mobile-nav__icon lvlonemob-chiv {% for childlink in link.links %}{% if childlink.current %}mobchiv-up{% endif %}{% endfor %}{% for childlink in link.links %}{% for grandchildlink in childlink.links %}{% if grandchildlink.current %} mobchiv-up{% endif %}{% endfor %}{% endfor %}">
              <span><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00IC43NTVsMTQuMzc0IDExLjI0NS0xNC4zNzQgMTEuMjE5LjYxOS43ODEgMTUuMzgxLTEyLTE1LjM5MS0xMi0uNjA5Ljc1NXoiLz48L3N2Zz4="></span>
            </div>
        </div>
      <ul class="innercontent pad0 mobile-nav__dropdown {% for childlink in link.links %}{% if childlink.current %}show{% endif %}{% endfor %} {% for childlink in link.links %}{% for grandchildlink in childlink.links %} {% if grandchildlink.current %}show{% endif %}{% endfor %}{% endfor %}" data-parent="{{ child_list_handle }}" data-level="2">

        {% for childlink in link.links %}
        {% if childlink.links != blank and childlink.title != "All products" %}
        <li class="child2_without_btn mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %} li-lvltwo">
          {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
        	
          <span class="mobile-nav__label lable_without_btn"><a href="{{ childlink.url }}" second-lvl-sub="yes" {% if childlink.current %} nav-lvl-b="ok" aria-current="page"{% endif %}>{{ childlink.title | escape }}</a></span>
            <div class="lvlonemob mobile-nav__icon lvltwomob-chiv togglenewmob btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link">
              <span><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00IC43NTVsMTQuMzc0IDExLjI0NS0xNC4zNzQgMTEuMjE5LjYxOS43ODEgMTUuMzgxLTEyLTE1LjM5MS0xMi0uNjA5Ljc1NXoiLz48L3N2Zz4="></span>
            </div>
        
          
          <ul class="innercontent pad0 mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">

            {% for grandchildlink in childlink.links %}
            <li class="mobile-nav__item li-lvlthree">                             
              <a href="{{ grandchildlink.url }}"
                 class="mobile-nav__sublist-link"
                 {% if grandchildlink.current %} nav-lvl-three="ok" aria-current="page"{% endif %}
                 >
                <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="mobile-nav__item">
          <a href="{{ childlink.url }}"
             class="mobile-nav__sublist-link"
             {% if childlink.current %} nav-lvl-two aria-current="page"{% endif %}
             >
            <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
          </a>
        </li>
        {% if childlink.links != blank %}
        {% for grandchildlink in childlink.links %}
        <li class="mobile-nav__item">
          <a href="{{ grandchildlink.url }}"
             class="mobile-nav__sublist-link"
             {% if grandchildlink.current %} nav-lvl-four aria-current="page"{% endif %}
             >
            <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
          </a>
        </li>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li class="no-child-one mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %} li-lvlone">
      <a href="{{ link.url }}"
         class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
         {% if link.current %} nav-lvl-one aria-current="page"{% endif %}
         >
        <span class="mobile-nav__label">{{ link.title | escape }}</span>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</secion>            