<div class="page-width">
<div class="card-container card-products">
    <div class="card-header pt-56">
        {%if block.settings.heading != blank %}
            <h2> {{ block.settings.heading }} </h2>
        {% endif %}
         {% if block.settings.description != blank %}
            {{ block.settings.description }}
        {% endif %}
        {%if block.settings.btn != blank %}
                <a class="lp-all" href="{{ block.settings.btn-link }}"> {{ block.settings.btn }} </a>
        {% endif %}
    </div>

    <div class="lp-products-wrap">
        <div class="lp-products">
        {% assign lp-product = collections[block.settings.ramadan-coll] %}
            {% for product in lp-product.products %}

                <div class="lp-product-item">
                    <a href="{{ product.url }}" class="lp-product-link">
                        <div class="lp-product-image">
                        <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
                        </div>
                        <div class="lp-product-content">
                            <h3>{{ product.title }}</h3>
                            <span class="price">
                                {%- if product.price_varies -%}
                                    {{ product.price_min | money_without_trailing_zeros }}
                                {%- else -%}
                                    {{ product.price | money_without_trailing_zeros }}
                                {%- endif -%}
                            </span>
                        </div>
                    </a>
                </div>
            {% endfor %}

            
        </div>
    </div>
</div>
</div>

