<div class="pdp__content">
    <div class="pdp__content__title">{{ product.title }}</div>
    
    {% unless product.has_only_default_variant %}
        <div class="pdp__content__size">{{ product.options_with_values[0].selected_value }}</div>
    {% endunless %}


    <!-- <div class="pdp__content__review-info">REVIEWS</div> -->
    <div class="pdp__content__price">{{ current_variant.price | money}}</div>

    {% unless product.has_only_default_variant %}
        <div class="pdp__content__swatches">
            {% for value in product.options_with_values[0].values %}
                <div 
                    data-option="{{ value }}"
                    {% if product.options_with_values[0].selected_value == value %}
                        class="pdp__content__swatches__item active"
                    {% else %}
                        class="pdp__content__swatches__item"
                    {% endif %}
                >{{ value }}</div>
            {% endfor %}
        </div>
    {% endunless %}



    <div class="pdp__content__control">
        <div class="pdp__content__control__qty">
            <div class="pdp__content__control__qty__prev">
                <svg class="pdp__content__control__qty__next-icon" xmlns="http://www.w3.org/2000/svg" width="12.771" height="24.129" viewBox="0 0 12.771 24.129">
                    <path fill="none" stroke="#000" d="M-11902.357-18787.281l11.711 11.719-11.711 11.7" transform="translate(11902.711 18787.635)"/>
                </svg> 
            </div>
            <div class="pdp__content__control__qty__value">
                1
            </div>
            <div class="pdp__content__control__qty__next">
                <svg class="pdp__content__control__qty__prev-icon" xmlns="http://www.w3.org/2000/svg" width="12.771" height="24.129" viewBox="0 0 12.771 24.129">
                    <path fill="none" stroke="#000" d="M-11902.357-18787.281l11.711 11.719-11.711 11.7" transform="translate(-11889.939 -18763.506) rotate(180)"/>
                </svg>         
            </div>
        </div>

        {% if product.available %}
            <div 
                class="pdp__content__control__add-to-cart-btn"
                data-id="{{ current_variant.id }}"
            >
                <div class="pdp__content__control__add-to-cart-btn__label">Add to Cart</div>
                <div class="pdp__content__control__add-to-cart-btn__loading" style="display:none;">Loading...</div>
            </div>
            <div 
                style="display: none;"
                class="pdp__content__control__notify-me-btn"
                data-id="{{ current_variant.id }}"
            >Out of stock</div>
        {% else %}
            {% comment %} <div 
                style="display: none;"
                class="pdp__content__control__add-to-cart-btn"
                data-id="{{ current_variant.id }}"
            >Add to cart</div> {% endcomment %}
            <div 
                class="pdp__content__control__notify-me-btn"
                data-id="{{ current_variant.id }}"
            >Out of stock</div>
        {% endif %}
    </div>

    <div class="pdp__content__error">
        <div class="pdp__content__error__text">There was an errro adding product to the cart.</div>
    </div>

    <div class="pdp__content__accordions">
        {% for value in product.metafields['custom_fields'] %}
            <div class="pdp__content__accordions__item">
                <div class="pdp__content__accordions__item__heading">
                    {% assign title = value | split: '<br/>' %}
                    <div class="pdp__content__accordions__item__heading__title">
                        {% if forloop.index == 1 %}
                            Description
                        {% elsif forloop.index == 2 %}
                            Benefits
                        {% elsif forloop.index == 3 %}
                            Editor notes
                        {% endif %}
                    </div>
                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path 
                            d="M3 3L21 21L39 3"
                            stroke="white"
                            stroke-width="7"
                            stroke-linecap="round"
                        />
                    </svg>
                </div>
                <div
                    {% if forloop.index == 1 %}
                        style="overflow:hidden"
                        class="pdp__content__accordions__item__body active"
                    {% else %}
                        style="height: 0; overflow:hidden"
                        class="pdp__content__accordions__item__body"
                    {% endif %}
                >
                    <div class="pdp__content__accordions__item__body-inner">
                        {% if forloop.index == 1 %}
                            {{ product.metafields.custom_fields['benefits'] }}
                        {% elsif forloop.index == 2 %}
                            {{ product.metafields.custom_fields['details'] }}
                        {% elsif forloop.index == 3 %}
                            {{ product.metafields.custom_fields["editors_note"] }}
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>



</div>

<style>

</style>